.maven
/build/
/out/
/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*/src/main/resources/logback.xml
*/src/main/resources/application-form3-auth.yml
target/%
